/**
 * Paleta de colores
 * C60
 * FFFBD0
 * F90
 * C13100
 */

 html,body {
 	height: 100%;
 	margin: 0;
 	font-family: Helvetica, Verdana, Arial;
 }

 header{
 	background: #C60;
 	height: 15%;
 }

 aside{
	padding-top: 80px;
	padding-left: 15px;
 	width: 170px;
 	max-height: calc(100%-80px);
 	float: left;
 }

 footer{
 	height: 15%;
 	background: #C60;
 	clear: both;
 }

/** Header **/
.header-logo {
	font-family: "American Typewriter";
	font-weight: lighter;
	font-size: 50px;
	height: 100%;
	text-align: center;
	vertical-align: center;
	display: table-cell;
	float: left;
	margin-top: -30px;
	margin-left: 40px;
	text-shadow: 3px 3px 5px rgba(0,0,0,0.5);
}
/** End Header **/

 .body-container{
 	background: #FFFBD0;
 }

.inner-scroll{
	overflow: scroll;
	max-height: 350px;
 	padding: 30px;
}

 .main-container{
 	padding: 30px;
 	overflow: hidden;
 	max-width: 650px;
 	height: 100%;
 	float: left;
 }

 .scroller {
 	height: 100%;
 	padding: 30px;
 }


 .movies{
 	border: solid;
 	padding: 15px;
 	border-width: 1px;
 	margin: 5px;
 	position:relative;
 }

.movie_img{
	height: 80px;
	width: 80px;
	display: inline;
	border-radius: 15px;
}

.movie_title{
	font-size: 30px;
	margin-left: 30%;
	display: inline-block;
	margin-bottom: 0;
	vertical-align: top;
}

.movie_genre{
	display: inline-block;
 	border: solid;
 	padding: 15px;
 	border-width: 1px;
 	border-radius: 200px;
 	margin: 5px;

}

.movie_description{
	display:block;

}



/*
		Left Menu
 */

.menu {
	width: 150px;
	padding-top: 50px;
	margin: 0;
}

.menu ul {
	margin: 0;
	padding: 0;
}

.menu li {
	list-style-type: none;
	margin-bottom: 8px;
}

.menu a {
	text-decoration: none;
	color: #C13100;
	margin-left: 15px;
}


.filter-title {
	display: inline;
	font-weight: bold;
	font-size: 11pt;
	margin-left: 0.7em;
}

.filter-title:before {
	content: "❯";
	font-size: 8pt;
	margin-right: 4px;
}

.filter:hover .filter-title:before {
	content: "v";
	font-size: 95%;
	font-weight: normal;
}

.filter ul{
	display: none;
}

.filter-items {
	margin-right: 15px !important;
	margin-top: 4px !important;
	font-size: 10pt;
	font-style: italic;
}

.filter:hover .filter-items{
	display: block;
}

.filter-items li {
	padding-left: 15px;
	margin-bottom: 0;
}
