<html lang="en" xmlns:ng="http://angularjs.org" ng-app="mainApp">
<head>
	<link rel="stylesheet" type="text/css" href="style/main.css" />
	<meta charset="utf-8" />
	<title>Ola k ase</title>
	<script src="lib/angular.min.js" type="text/javascript"></script>
	<script src="lib/angular-animate.min.js" type="text/javascript"></script>
	<script src="js/controllers.js" type="text/javascript"></script>
<body>
	<header ng-controller="headerController" ng-init="showCart = false">
		<div class="header-logo">
			<p>Olakase</p>
		</div>

		<div class="header-options">
			<ul>
				<li><a href="">Usuario</a></li>
				<li>
					<a href="" ng-click="showCart = !showCart">Carrito ({{cartItems.length}})</a>

				</li>
				<li><a href="">Salir</a></li>
			</ul>
		</div>
		<div class="cart-container animate-show" ng-show="showCart">
			<div class="cart">
				<div class="cartItem" ng-repeat="item in cartItems">
					<img class="cartItemImage" src="{{item.image}}" />
					<div class="cartItemPrice"><p>{{item.quantity}} x {{item.price}}€</p></div>
					<div class="cartItemTitle"><p>{{item.title}}</p></div>
				</div>
			</div>
			<div class="cartBuy">
				<div class="button">¡Comprar!</div>
			</div>
		</div>
	</header>

	<!-- header.html end -->
	<div class="body-container">
		<aside id="menu">
			<ul>
				<li class="filter"><a href="index.xml" class="filter-title">Inicio</a></li>
			</ul>
		</aside>
		<div class="scroller">
		<div class="error-main-container">
			<p id="error-page">La que has liado pollito</p>
			<img src="img/error-msg.jpg" id="error-img">
		</div>
		</div>
	</div>
	<!-- footer.html begin -->

	<footer>
		<p class="footer-text">
			Olakase - Víctor de Juan Sanz - Guillermo Julián Moreno
		</p>
	</footer>

</body>
</html>
