<html lang="en" xmlns:ng="http://angularjs.org" ng-app="mainApp">
<head>
	
	<meta charset="utf-8" />
	<title>Ola k ase</title>
	<script src="lib/angular.min.js" type="text/javascript"></script>
	<script src="lib/angular-animate.min.js" type="text/javascript"></script>
	<script src="js/controllers.js" type="text/javascript"></script>
	<body>
	<div id="login-div">
 	<!-- TODO:  petición http y procesar código de error -->

 		<form ng-controller="pruebaController" ng-submit="loginSubmit();" name="login-form"  id="login-form">
 			<table>
				<tr>
					<td>
							<td>Email:</td>
							<td> <input type="email" ng-model="email" name="email" ng-model="email" ></td>
					</td>
				</tr>
				<tr>
					<td>
						<td>Contraseña:</td>
						<td> <input type="password" ng-model="password" name="password" ng-model="password" autocomplete="off" required pattern="[a-zA-Z0-9]+" id="passwordfield"></td>
					</td>

				</td>	
				<td>
					<div id="messages" class="alert alert-success" data-ng-show="messages" data-ng-bind="messages" ></div>
				</td>
				</tr>
			</table>
 			<p>
	  			<a href="register.html" id="NewRegister">¿No tienes cuenta todavía?</a>		
	  			<input type="submit" value="login" name="login" id="login-button">
			</p>			
			<pre> http status code: {{status}} </pre>
			<pre> suvieja: {{msg1}} </pre>
 		</form> 
 	</div>
 	
 	</body></head></html>