/**
 * Paleta de colores
 * C60
 * FFFBD0
 * F90
 * C13100
 */

 html, body {
 	height: 100%;
 	margin: 0px;
 }

 header{
 	background: #C60;
 	height: 100px;
 }
 footer{
 	height: 50px;
 	background: #C60;
 	clear: both;
 }
 aside{
 	width: 170px;
 	height: 100%;
 	float: left;
 	padding: 12px;
 	box-sizing: border-box;
 }

 .body-container{
 	height: 100%;
 	padding-top: 100px;
 	background: #FFFBD0;
 }

 .main-container{
 	padding: 12px;
 	max-width: 650px;
 	height: 100%;
 	float: left;
 	box-sizing: border-box;
 }

 .wrapper {
 	min-height: 100%;
 	height: auto !important;
 	height: 100%;
 	margin: 0 auto -50px;
 }
 .push {
 	height: 50px;
 }