/**
 * Paleta de colores
 * C60
 * FFFBD0
 * F90
 * C13100
 */

 html,body {
 	height: 100%;
 	margin: 0px;
 }

 header{
 	background: #C60;
 	height: 15%;
 }

 aside{
	padding-top: 80px;
	padding-left: 50px;
 	width: 170px;
 	max-height: 100%-80px;
 	float: left;
 }

 footer{
 	height: 15%;
 	background: #C60;
 	clear: both;
 }


 .body-container{
 	max-height: 70%;
 	min-height: 70%;
 	background: #FFFBD0;
 }

.scroller{
	overflow: scroll;
	max-height: 350px;
 	padding: 30px;
}

 .main-container{
 	padding: 30px;
 	max-width: 650px;
 	height: 100%;
 	float: left;
 }
