.filter {
	margin-bottom: 8px;
}

.filter-title {
	display: inline;
	font-weight: bold;
	font-size: 12pt;
	margin-left: 2px;
}

.close-indicator.ng-hide-add.ng-hide-add-active, .close-indicator.ng-hide-remove.ng-hide-remove-active {
	-webkit-transition: 0.1s linear;
	transition: 0.1s linear;
}

.close-indicator {
	width: 8px;
	height: 8px;
	margin-bottom: 2px;
}

.close-indicator.ng-hide {
	transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	display: inline !important;
}

.filter-items {
	font-size: 10pt;
	font-style: italic;
	margin-top: 4px !important;
	padding-left: 7px;
	display: block;
	-webkit-transition: max-height cubic-bezier(0.215, 0.61, 0.355, 1) 0.4s, opacity linear 0.1s;
	transition: max-height cubic-bezier(0.215, 0.61, 0.355, 1) 0.4s, opacity linear 0.1s;
	opacity: 1;
	max-height: auto;	
}

.filter-items.ng-hide {
	max-height: 0;
	opacity: 0;
}

.filter-items input[type=number] {
	width: 85px;
	margin-bottom: 5px;
	margin-top: 5px;
}

.filter-items input[type=text] {
	width: 85px;
	margin-bottom: 5px;
	margin-top: 5px;
}

.custom-selector.filters-disabled { 
	margin-left: 0px;
}

.filters-disabled input[type=text] {
	width: 150px;
}

.custom-selector {
	margin-left: 25px;
}

.custom-selector span {
	margin: 8px 0;
}