/** * Paleta de colores
* C60
* FFFBD0
* F90
* C13100 */

@import url('/style/filter.css');

html, body {
	height: 100%;
	margin: 0;
	width: 100%;
	font-family: Helvetica, Verdana, Arial;
	position: absolute;
	background: #FFFBD0;
}
header {
	background: #C60;
	height: 100px;
	box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.1);
	position: relative;
	width: 100%;
	z-index: 2;
}
aside {
	padding-top: 80px;
	padding-left: 15px;
	width: 170px;
	float: left;
	position: relative;
	display: inline-block;
	vertical-align: top;
	z-index: 1;
}
footer {
	height: 40px;
	width: 100%;
	bottom: 0;
	background: #C60;
	clear: both;
	position: absolute;
	box-shadow: 0px -5px 5px rgba(0, 0, 0, 0.1);
	z-index: 2;
}
.body-container {
	width: 100%;
	overflow: hidden;
	position: absolute;
	top: 100px;
	bottom: 40px;
	z-index: 1;
}
#body-container {
	opacity: 1;
}
.login-div {
	position: fixed;
	top: 0px;
	left: 0px;
	height: 100%;
	width: 100%;
	float: left;
	overflow: hidden;
	vertical-align: middle;
	display: block;
	background: rgba(245, 221, 222, 0.65); /* give opacity to bg color only */
	z-index: 3; /* set to 3 when login active, 0 when not login */
}
.login-form {
	margin: 15% 0 0 40%; /* TODO: estilo para pantallas más grandes. */
	height:23%;
	width: 28%;
	min-width: 350px;
	min-height: 135px;
	padding: 30px 0 0 10px;
	border: 2px;
	border-radius: 5px;
	display: block;
	background: rgba(204, 102, 0, 0);
	opacity: 0;
	z-index: inherit;
	background: rgba(204, 102, 0, 1);
	opacity: 1;
}
#login-button {
	margin-top: -34px;
	margin-left: 70%;
}
#NewRegister {
	font-size: 15px;
	text-align: left;
}
#login-err-msg {
	visibility: hidden;
	color: red;
}

/** Header **/
.header-logo {
	font-family: "American Typewriter";
	font-weight: lighter;
	font-size: 50px;
	height: 100%;
	text-align: center;
	vertical-align: center;
	display: table-cell;
	float: left;
	margin-top: -30px;
	margin-left: 40px;
}
.header-options {
	position: absolute;
	right: 0;
	padding-right: 20px;
	padding-bottom: 5px;
	bottom: 0;
	height: 30px;
	vertical-align: center;
	font-size: 13px;
}
.header-options a {
	text-decoration: none;
	color: rgba(228, 228, 228, 1);
	border-bottom: 1px dotted #BBB;
}
.header-options ul li {
	display: inline;
}
.header-options li:after {
	content: " | ";
}
.header-options li:last-child:after {
	content: "";
}

/** End Header **/

/**** Movies ****/
#moviecatalog {
	padding: 0px;
	padding-left: 60px;
	margin: 0px;
	width: 750px;
	height: 100%;
	overflow: hidden;
	border: none;
}

.scroller {
	height: 100%;
	display: inline-block;
	vertical-align: top;
	overflow: scroll;
	position: absolute;
	left: 170px;
	right: 0;
}

.inner-scroll {
	overflow: scroll;
	padding: 30px;
}

.main-container {
	clear: both;
	padding-left: 30px;
	height: 100%;
	float: left;
	padding-right: 110px;
	-webkit-transition: padding-right 0.2s; /* For Safari 3.1 to 6.0 */
    transition: padding-right 0.2s;	
}

.movies {
	float: left;
	margin: 20px;
	position: relative;
	height: 225px; 
	max-height: 225px; 
	overflow: hidden;
	border-radius: 10px;
	background: rgba(193, 49, 0, 0.4);
	display: inline;
}

.movie-cover {
	position: relative;
	border-radius: 10px;
	overflow: hidden;
	height: 100%;
	max-height: 100%;
	width: auto;
	float: left;
}

.movie-info {
	width: 0;
	height: 100%;
	max-height: 100%;
	color: rgb(70,70,70);
	font-size: 12px;
	vertical-align: top;
	overflow: scroll;
	float: right;
	-webkit-transition: width 0.3s; /* For Safari 3.1 to 6.0 */
    transition: width 0.3s;	
}

.movie-hovering {
	padding-right: 0;
}

.voidclass {

}

.movie-info p {
	margin: 8px 8px 0 8px;
}

.movies:hover .movie-info {
	width: 100px;
}

.main-container .movies:hover {
	padding-left: 0px;
}

.movie_img {
	height: 225px;
	max-height: 225px;
	display: block;
	z-index: -1;
}

.movie-description {
	font-style: italic;
}

.movie_title {
	position: absolute;
	margin: 0;
	top: 0;
	right: 0;
	left: 0;
	text-align: center;
	font-size: 18px;
	color: rgba(250,250,250,0.9);
	min-height: 35px;
	padding: 5px;
	background: rgba(10,10,10,0.4);
	vertical-align: middle;
}

.movie_action  {
	position: absolute;
	margin: 0;
	bottom: 0;
	right: 0;
	left: 0;
	text-align: center;
	font-size: 16px;
	color: rgba(250,250,250,0.9);
	padding: 10px;
	background: rgba(10,10,10,0.4);
	vertical-align: middle;
}

.movie_cart {
	width: 20px;
	height: 20px;
}

.movie_price {
	text-align: left;
	float: left;
	margin: 2px 0 0 0 ;
}

.movie_buy {
	text-align: right;
	float: right;
	margin: 0;
}

.movie_genre {
	display: inline-block;
	border: solid;
	padding: 15px;
	border-width: 1px;
	border-radius: 200px;
	margin: 5px;
}
.movie_description {
	display: block;
}

/* Left Menu */
.menu {
	width: 150px;
	padding-top: 50px;
	margin: 0;
}

.menu ul {
	list-style-type: none;
}

.menu-items {
	margin: 0;
	padding: 0;
}

.menu a {
	text-decoration: none;
	color: #C13100;
}

/* Hack:si cambias la altura máxima de esto, el interior desborda. */
.cart-container {
	background-color: #FFE;
	float: right;
	margin-top: 100px;
	position: relative;
	width: 300px;
	max-height: 400px;
	margin-right: 45px;
	box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.1);
}
.cart {
	overflow: scroll;
	max-height: 350px;
}
.cartBuy {
	float: bottom;
	height: 50px;
	width: 300px;
	box-shadow: 0px -5px 10px rgba(0, 0, 0, 0.05);
	border-top: 1px solid rgba(0, 0, 0, 0.1);
	text-align: center;
	display: table-cell;
	vertical-align: middle;
	cursor: pointer;
}
.cartBuy:active {
	background-color: #FFD;
}
.cartItem {
	margin: 8px;
	height: 40px;
}
.cartItemImage {
	width: 40px;
	height: 40px;
	float: left;
	margin-right: 8px;
}
.cartItemTitle {
	line-height: 40px;
}
.cartItemPrice {
	position: relative;
	float: right;
	height: 100%;
	display: table-cell;
	vertical-align: middle;
	color: gray;
	font-size: 80%;
}
.deleteButton {
	float: left;
	position: relative;
	margin-top: 13px;
	display: table-cell;
	vertical-align: middle;
	margin-right: 8px;
	margin-left: 4px;
	text-decoration: none;
	color: #C60;
	height: 12px;
	width: 12px;
}
.deleteButton img {
	height: 100%;
	width: 100%;
	fill: #C60;
}
.deletButton img .closePath {
	fill: #C60;
}
.footer-text {
	text-align: center;
	font-size: 12px;
	margin-top: 15px;
	font-weight: lighter;
}
.animate-show {
	max-height: auto;
	opacity: 1;
}
.animate-show.ng-hide-add.ng-hide-add-active, .animate-show.ng-hide-remove.ng-hide-remove-active {
	-webkit-transition: max-height cubic-bezier(0.215, 0.61, 0.355, 1) 0.3s, opacity linear 0.2s;
	transition: max-height cubic-bezier(0.215, 0.61, 0.355, 1) 0.3s, opacity linear 0.2s;
}
.animate-show.ng-hide {
	max-height: 0;
	opacity: 0;
}

.scroller-top {
	width: 100%;
}

.pagination-control {
	text-align: center;
	font-size: 10pt;
	margin-right: 30px;
	float: left;
	width: 100%;
}

.pagination-config {
	position: absolute;
	right: 0;
	text-align: right;
	float: right;
	margin: 12px;
	font-size: 10pt;
	display: inline;
}

.pagination-control span {
	height: 100%;
	position: relative;
	top: -6px;
}

.page-control {
	font-size: 30pt;
	text-decoration: none;
	color: #C13100;;
}

.disabled {
	color: gray;
	cursor: default;
}
