/** * Paleta de colores
* Fondo destacado: C60
* Fondo: FFFBD0
* F90
* Acento: C13100 
*/

@import url('/style/purchases.css');
@import url('/style/filter.css');
@import url('/style/movies.css');

html, body {
	height: 100%;
	margin: 0;
	width: 100%;
	font-family: Helvetica, Verdana, Arial;
	position: absolute;
	background: #FFFBD0;
}
header {
	background: #C60;
	height: 100px;
	box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.1);
	position: relative;
	width: 100%;
	z-index: 2;
}
aside {
	padding-top: 80px;
	padding-left: 15px;
	width: 170px;
	float: left;
	position: relative;
	display: inline-block;
	vertical-align: top;
	z-index: 1;
}
footer {
	height: 40px;
	width: 100%;
	bottom: 0;
	background: #C60;
	clear: both;
	position: absolute;
	box-shadow: 0px -5px 5px rgba(0, 0, 0, 0.1);
	z-index: 2;
}
.body-container {
	width: 100%;
	overflow: hidden;
	position: absolute;
	top: 100px;
	bottom: 40px;
	z-index: 1;
}
#body-container {
	opacity: 1;
}
.login-div {
	position: fixed;
	top: 0px;
	left: 0px;
	height: 100%;
	width: 100%;
	float: left;
	overflow: hidden;
	vertical-align: middle;
	display: block;
	background: rgba(245, 221, 222, 0.65); /* give opacity to bg color only */
	z-index: 3; /* set to 3 when login active, 0 when not login */
}
.login-form {
	margin: 13% 0 0 36%; /* TODO: estilo para pantallas más grandes. */
	width:28%;
	min-width: 350px;
	min-height: 110px;
	padding: 30px 0 15 10px;
	border: 2px;
	border-radius: 5px;
	display: block;
	background: rgba(204, 102, 0, 0);
	opacity: 0;
	z-index: inherit;
	background: rgba(204, 102, 0, 1);
	opacity: 1;
}

/** * Register style */
.register-form {
	padding-top: 7%;
	margin-left: 12%;
	margin-right: 10%;
	padding-bottom: 0;
	vertical-align: middle;
	max-width: 85%;
	min-width: 250px;
}
#WelcomeMsg {
	text-align: left;
	margin-left: 10%;
	font-size: 20px;
}
#login-body-container {
	height: 70%;
	overflow: hidden;
}
#NewRegister {
	font-size: 10px;
	margin-left: 8px;
}
#ButtonRegister {
	font-size: 10px;
	text-align: center;
	margin-left: 8px;
	margin-top: 20px;
}

.invalid {
	color: red;
	padding-left: 10px;
	display: inline;
}
.debil {
	color: orange;
	padding-left: 10px;
	display: inline;
}
.media {
	padding-left: 10px;
	display: inline;
	color: purple;
}
.fuerte {
	color: green;
	padding-left: 10px;
	display: inline;
}

#NewRegister {
	font-size: 12px;
	text-align: left;
}
.login-input {
	text-align: left;
	display: inline-block;
	margin-top: 10px;
}
.login-label {
	width: 25%;
	padding-right: 10px;
	display: inline-block;
	text-align: right;
}
#login-button {
	display: block;
	margin-top: 0px;
	margin-left: 70%;
}
.login-err-msg {
	color: red;
}
.scroller {
	height: 100%;
	display: inline-block;
	vertical-align: top;
	overflow: scroll;
}

/** Header **/
.header-logo {
	font-family: "American Typewriter";
	font-weight: lighter;
	font-size: 50px;
	height: 100%;
	text-align: center;
	vertical-align: center;
	display: table-cell;
	float: left;
	margin-top: -30px;
	margin-left: 40px;
}
.header-options {
	position: absolute;
	right: 0;
	padding-right: 20px;
	padding-bottom: 5px;
	bottom: 0;
	height: 30px;
	vertical-align: center;
	font-size: 13px;
}
.header-options a {
	text-decoration: none;
	color: rgba(228, 228, 228, 1);
	border-bottom: 1px dotted #BBB;
}
.header-options ul li {
	display: inline;
}
.header-options li:after {
	content: " | ";
}
.header-options li:last-child:after {
	content: "";
}

/** End Header **/

/* Left Menu */
.menu {
	width: 150px;
	padding-top: 50px;
	margin: 0;
}

.menu ul {
	list-style-type: none;
}

.menu-items {
	margin: 0;
	padding: 0;
}

.menu a {
	text-decoration: none;
	color: #C13100;
}

/* Hack:si cambias la altura máxima de esto, el interior desborda. */
.cart-container {
	background-color: #FFE;
	float: right;
	margin-top: 100px;
	position: relative;
	width: 300px;
	max-height: 400px;
	margin-right: 45px;
	box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.1);
}
.cart {
	overflow: scroll;
	max-height: 350px;
}
.cartBuy {
	float: bottom;
	height: 50px;
	width: 300px;
	box-shadow: 0px -5px 10px rgba(0, 0, 0, 0.05);
	border-top: 1px solid rgba(0, 0, 0, 0.1);
	text-align: center;
	display: table-cell;
	vertical-align: middle;
	cursor: pointer;
}
.cartBuy:active {
	background-color: #FFD;
}
.cartItem {
	margin: 8px;
	height: 40px;
}
.cartItemImage {
	width: 40px;
	height: 40px;
	float: left;
	margin-right: 8px;
}
.cartItemTitle {
	line-height: 40px;
}
.cartItemPrice {
	position: relative;
	float: right;
	height: 100%;
	display: table-cell;
	vertical-align: middle;
	color: gray;
	font-size: 80%;
}
.deleteButton {
	float: left;
	position: relative;
	margin-top: 13px;
	display: table-cell;
	vertical-align: middle;
	margin-right: 8px;
	margin-left: 4px;
	text-decoration: none;
	color: #C60;
	height: 12px;
	width: 12px;
}
.deleteButton img {
	height: 100%;
	width: 100%;
	fill: #C60;
}
.deletButton img .closePath {
	fill: #C60;
}
.footer-text {
	text-align: center;
	font-size: 12px;
	margin-top: 15px;
	font-weight: lighter;
}
.animate-show {
	max-height: auto;
	opacity: 1;
}
.animate-show.ng-hide-add.ng-hide-add-active, .animate-show.ng-hide-remove.ng-hide-remove-active {
	-webkit-transition: max-height cubic-bezier(0.215, 0.61, 0.355, 1) 0.3s, opacity linear 0.2s;
	transition: max-height cubic-bezier(0.215, 0.61, 0.355, 1) 0.3s, opacity linear 0.2s;
}
.animate-show.ng-hide {
	max-height: 0;
	opacity: 0;
}

.scroller-top {
	width: 100%;
}

.pagination-control {
	text-align: center;
	font-size: 10pt;
	margin-right: 30px;
	float: left;
	width: 100%;
}

.pagination-config {
	position: absolute;
	right: 0;
	text-align: right;
	float: right;
	margin: 12px;
	font-size: 10pt;
	display: inline;
}

.pagination-control span {
	height: 100%;
	position: relative;
	top: -6px;
}

.page-control {
	font-size: 30pt;
	text-decoration: none;
	color: #C13100;;
}

.disabled {
	color: gray;
	cursor: default;
}
