<li class="filter" ng-init="showFilters = false">
	<img src="/img/close.svg" class="close-indicator" ng-show="showFilters" />

	<a href="" ng-click="showFilters = !showFilters" class="filter-title" >
		{{title}}
	</a>
	
	<ul class="filter-items" ng-show="showFilters">
		<li ng-repeat="filter in filters">
			<input 
			type="radio" 
			value="{{filter.value}}" 
			class="filter-item" 
			ng-model="$parent.internalValue" 
			name="{{name}}">
				{{filter.name}}
			</input>
		</li>

		<li>
			<input ng-init="customRange = {}"
			type="radio" 
			value="custom"
			class="filter-item" 
			ng-model="internalValue" 
			name="{{name}}" ng-show="filtersEnabled">
				<span ng-show="filtersEnabled">Personalizado:<br /></span>
			</input>
			<div class="custom-selector" ng-show="customRangeEnabled" ng-class="filtersDisabledClass">
				<input type="number" ng-model="customRange.min" /><br /> 
				<span>hasta</span><br />
				<input type="number" ng-model="customRange.max" />
			</div>
			<div class="custom-selector" ng-show="customTextEnabled" ng-class="filtersDisabledClass">
				<input type="text" ng-model="customText" />
			</div>
		</li>

		<li ng-show="filtersEnabled">
			<input 
			type="radio" 
			value="{{defaultValue}}" 
			class="filter-item" 
			ng-model="internalValue" 
			name="{{name}}">
				Todos
			</input>
		</li>
	</ul>
</li>