<div class="body-container" ng-controller="movieListController">
 	<aside class="menu">
 		<ul>
 			<li class="filter"><a href="index.html" class="filter-title">Inicio</a></li>
 			<li class="filter">
 				<span class="filter-title">Género</span>
 				<ul class="filter-items">
 					<li ng-repeat="movie in movies | unique:'genre' as genres">
 						<input 
 							type="radio" 
 							value="{{movie.genre}}" 
 							class="filter-genre" 
 							ng-model="$parent.searchGenre" 
 							name="searchGenre">
 								{{movie.genre}}
 						</input>
 					</li>
 				</ul>
 			</li>
 			<li class="filter"><span class="filter-title">Año</span></li>
 			<li class="filter"><span class="filter-title">Etc</span></li>
 		</ul>
 	</aside>

 	<div class="scroller">
 		<div class="main-container">
 		<p class="pagination-control">{{startIndex}} - {{startIndex + filtered.length}} (
 			<select ng-model="pageLength" ng-options="length for length in availableLengths">
 			</select> resultados por página)
 		</p>

 		<div class="movies" ng-repeat="movie in movies | filter:search | slice:startIndex | limitTo:pageLength as filtered">
 			<img ng-src="{{movie.image}}" class="movie_img">
 			<p class="movie_title">{{movie.title}}</p>
 			<p class="movie_description">
 				{{movie.description}}
 			</p>
 			<a ng-click="addToCart(movie)" href="">Añadir al carrito</a>
 		</div>

 		<p class="pagination-control"><a href="" ng-click="prevPage()">&lt;</a> <a href="" ng-click="nextPage()">&gt;</a> 
 	</div>
 </div>
</div>