 <div class="body-container" ng-controller="movieListController">
 	<aside class="menu">
 		<ul>
 			<li class="filter"><a href="index.html" class="filter-title">Inicio</a></li>
 			<li class="filter">
 				<span class="filter-title">Género</span>
 				<ul class="filter-items">
 					<li ng-repeat="movie in movies | unique:'genre'">
 						<a href="pages/error.html" class="filter-genre">{{movie.genre}}</a>
 					</li>
 				</ul>
 			</li>
 			<li class="filter"><span class="filter-title">Año</span></li>
 			<li class="filter"><span class="filter-title">Etc</span></li>
 		</ul>
 	</aside>

 	<div class="scroller">
 		<div class="inner-scroll">
 			<div class="main-container" 
 				ng-controller="movieListController">
 				<div class="movies" ng-repeat="movie in movies track by $index">
 					<img src="{{movie.image}}" class="movie_img">
 					<p class="movie_title">{{movie.title}}</p>
 					<p class="movie_description">
 						{{movie.description}}
 					</p>
 					<a ng-click="addToCart(movie)" href="">Añadir al carrito</a>
 				</div>
 			</div>
 		</div>
 	</div>
 </div>
 